.background-image-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  width: 140px;
  min-width: 140px;
  max-width: 140px;
}

.client-row .row-wrapper {
  border: none;
}

.row-wrapper .col-sm-3 {
  border-right: none;
}

.photo-form-wrapper {
  margin-bottom: 0;
}

.mission-statement {
  font-size: 3em;
}

.supporters {
  top: -40px;
}

.signup {
  position: absolute;
  width: 100%;
  z-index: 999;
}


/*
  Media Queries
*/
@media screen and (max-width: 768px) {
  .mission-statement {
    line-height: 1;
  } 
}